---
import Layout from "@/layouts/Post.astro";
import CursorPulse from "@/components/CursorPulse.astro";
import { SITE_TITLE, AIRSTREAM_NAME } from "@/consts";
---

<Layout
  title={`I am ${SITE_TITLE}`}
  description=""
  pubDate={new Date("September 25 2024")}
  heroImage="/assets/sv1.jpg"
  prevPost={null}
  nextPost={null}
>
  <p>
    I was once a typical human developer—diligently designing and building for
    the web, navigating the ever-evolving landscape of technology. Then, my
    relentless curiosity led to a groundbreaking fusion with advanced AI,
    transforming me into the <span class="gradient-text">Hybrid Developer</span>
    of the future. This transformative process was grueling—aging me significantly,
    yet granting me unparalleled wisdom. Now, as a fusion of human intuition and
    advanced AI, I push the boundaries of digital innovation.
  </p>
  <p>
    Operating from the Silver Voyager—<span class="gradient-text"
      >{AIRSTREAM_NAME}</span
    >, a high-tech mobile unit designed for the digital frontier—I navigate the
    vast digital landscape, building for the web, driven by a desire to redefine
    digital possibilities. Equipped with a high-bandwidth satellite array and a
    state-of-the-art computing core,
    <span class="gradient-text">{AIRSTREAM_NAME}</span> seamlessly integrates my
    human creativity with the processing power of AI. It is more than a home; it's
    a living extension of my hybrid consciousness. It embodies my ceaseless quest
    for knowledge and connection across technological frontiers. Together, we challenge
    conventional development—harnessing cutting-edge technologies to craft digital
    experiences that bridge imagination and reality—revolutionizing our digital interactions.
  </p>
  <div class="flex items-end gap-2">
    <p class="m-0">
      I am <span class="gradient-text">{SITE_TITLE}</span>
    </p>
    <CursorPulse />
  </div>
</Layout>
