---
import Icon from "@/components/Icon.astro";
import HeaderLink from "./HeaderLink.astro";
import MobileMenu from "./MobileMenu.tsx";

import { type iconPaths } from "@/components/IconPaths";

import { SITE_TITLE } from "@/consts";

const navItems: {
  title: string;
  href: string;
  icon: keyof typeof iconPaths;
}[] = [
  { title: "Code", icon: "code", href: "/code" },
  { title: "Mind", icon: "mind", href: "/mind" },
];
---

<header
  class="mb-auto flex items-center justify-between border-b border-zinc-700 bg-zinc-950 p-4 pr-6"
>
  <div class="flex items-center">
    <HeaderLink href="/" class="site-title">
      <Icon icon="aiMan" size="3em" gradient />
      <span class="text-3xl font-semibold">{SITE_TITLE}</span>
    </HeaderLink>
  </div>
  <nav class="hidden space-x-4 text-lg font-semibold md:flex">
    {
      navItems.map((item) => (
        <HeaderLink href={item.href}>
          <Icon icon={item.icon} size="1.5em" gradient />
          {item.title}
        </HeaderLink>
      ))
    }
  </nav>

  <div class="md:hidden">
    <MobileMenu client:load>
      <Icon icon="terminalWindow" size="3em" slot="icon" gradient />
      <HeaderLink
        href="/"
        class="site-title flex items-center border-b border-zinc-700 pb-4"
        slot="title"
      >
        <Icon icon="aiMan" size="3em" gradient />
        <span class="gradient-text ml-2 text-3xl font-semibold"
          >{SITE_TITLE}</span
        >
      </HeaderLink>
      <ul class="space-y-2 py-4" slot="navItems">
        {
          navItems.map((item) => (
            <li>
              <a
                href={item.href}
                class="gradient-text flex w-min items-center gap-2 px-2 py-2 text-lg font-semibold"
              >
                <Icon icon={item.icon} size="1.5em" gradient />
                {item.title}
              </a>
            </li>
          ))
        }
      </ul>
    </MobileMenu>
  </div>
</header>
