---
import type { CollectionEntry } from "astro:content";
import { Picture } from "astro:assets";
import BaseHead from "@/components/BaseHead.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import FormattedDate from "@/components/FormattedDate.astro";

type Props = CollectionEntry<"code">["data"];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body>
    <Header />
    <main class="container mx-auto my-12 lg:my-20">
      <div>
        {
          heroImage && (
            <Picture
              width={720}
              height={360}
              src={heroImage}
              alt=""
              class="m-auto w-full rounded-xl"
            />
          )
        }
      </div>
      <article>
        <div
          class="prose prose-p:text-zinc-100 max-w[calc(100% - 2em)] mx-auto max-w-3xl p-2"
        >
          <div class="mb-4 p-4 text-center">
            <div class="mb-2 text-zinc-500">
              <FormattedDate date={pubDate} />
              {
                updatedDate && (
                  <div class="italic">
                    Last updated on <FormattedDate date={updatedDate} />
                  </div>
                )
              }
            </div>
            <h1>{title}</h1>
            <hr />
          </div>
          <slot />
        </div>
      </article>
    </main>
    <Footer />
  </body>
</html>
