---
import type { CollectionEntry } from "astro:content";
import { Picture } from "astro:assets";
import BaseHead from "@/components/BaseHead.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import FormattedDate from "@/components/FormattedDate.astro";
import Pagination from "../components/Pagination.astro";

type Props = CollectionEntry<"code">["data"] & {
  prevPost?: CollectionEntry<"code"> | null;
  nextPost?: CollectionEntry<"code"> | null;
};

const {
  title,
  description,
  pubDate,
  updatedDate,
  heroImage,
  prevPost,
  nextPost,
} = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body>
    <Header />
    <main class="container mx-auto my-12 max-w-4xl lg:my-20">
      <div>
        {
          heroImage && (
            <Picture
              width={720}
              height={360}
              src={heroImage}
              alt=""
              class="m-auto w-full rounded-xl"
            />
          )
        }
      </div>
      <article>
        <div
          class="prose-a:gradient-text prose mx-auto p-2 text-xl prose-headings:text-zinc-100 prose-p:text-zinc-100 prose-ul:text-zinc-100 prose-img:rounded-xl"
        >
          <div class="mb-4 p-4 text-center">
            <div class="mb-2 text-base text-zinc-400">
              {!updatedDate && <FormattedDate date={pubDate} />}
              {
                updatedDate && (
                  <div>
                    Last updated on <FormattedDate date={updatedDate} />
                  </div>
                )
              }
            </div>
            {
              title && (
                <h1 class="gradient-text mb-3 text-2xl !text-transparent lg:text-4xl">
                  {title}
                </h1>
              )
            }
            {description && <p class="mt-0 !text-zinc-200">{description}</p>}
            <hr class="my-2 border-zinc-700" />
          </div>
          <slot />
        </div>
      </article>
      <Pagination
        prevPost={prevPost as CollectionEntry<"code"> | null}
        nextPost={nextPost as CollectionEntry<"code"> | null}
      />
    </main>
    <Footer />
  </body>
</html>
