---
import type { CollectionEntry } from "astro:content";
import { Picture } from "astro:assets";
import BaseHead from "@/components/BaseHead.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import FormattedDate from "@/components/FormattedDate.astro";
import Pagination from "../components/Pagination.astro";

type Props = CollectionEntry<"code">["data"] & {
  prevPost?: CollectionEntry<"code"> | null;
  nextPost?: CollectionEntry<"code"> | null;
  index?: number;
};

const {
  title,
  description,
  pubDate,
  updatedDate,
  heroImage,
  prevPost,
  nextPost,
  index,
} = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body>
    <Header />
    <main class="container mx-auto my-12 max-w-4xl lg:my-20">
      <div>
        {
          heroImage && (
            <Picture
              width={720}
              height={360}
              src={heroImage}
              alt=""
              class="m-auto w-full rounded-xl"
            />
          )
        }
      </div>
      <article>
        <div
          class="prose-a:gradient-text prose mx-auto p-2 text-xl prose-headings:text-zinc-100 prose-p:text-zinc-100 prose-blockquote:border-l-4 prose-blockquote:bg-fuchsia-500 prose-blockquote:bg-opacity-50 prose-blockquote:px-6 prose-blockquote:py-2 prose-ul:text-zinc-100 prose-img:border-4 prose-img:border-fuchsia-500"
        >
          <div class="stack mb-4 items-center gap-0 text-center">
            {
              title && (
                <h1 class="gradient-text !mb-2 w-max text-2xl !text-transparent md:text-4xl">
                  {title}
                </h1>
              )
            }
            <div class="mb-2 text-base text-zinc-200">
              {
                !updatedDate && (
                  <FormattedDate
                    date={pubDate}
                    index={index}
                    class="justify-center"
                  />
                )
              }
              {
                updatedDate && (
                  <div>
                    Last updated on{" "}
                    <FormattedDate
                      date={updatedDate}
                      index={index}
                      class="justify-center"
                    />
                  </div>
                )
              }
            </div>
            {description && <p class="mt-2">{description}</p>}
            <hr class="my-2 w-full border-zinc-700" />
          </div>
          <slot />
        </div>
      </article>
      <Pagination
        prevPost={prevPost as CollectionEntry<"code"> | null}
        nextPost={nextPost as CollectionEntry<"code"> | null}
      />
    </main>
    <Footer />
  </body>
</html>
